:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-backdrop-color: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;

  --white-color: #fff;
  --black-color: #000;
  --footer-social-icons-bg: rgba(255, 255, 255, 0.1);
  --time-transition: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --footer-input-placeholder-color: rgba(255, 255, 255, 0.6);

  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --modal-input-placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-policy-color: #757575;

  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1200px;
}

/* ============= Generals ============= */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--navy-blue-color);
}
body.modal-open {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}
.page-section {
  padding: 96px 0;
}

/* ============= Header ============= */
.page-header {
  border-bottom: 1px solid var(--cornflower-color);
  padding: 24px 0;
}

/* ===== Logo ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: currentColor;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--iris-color);
}

/* ============= Mobile-menu ============= */
@media screen and (max-width: 767px) {
  .page-header .container {
    display: flex;
    align-items: center;
  }
  .menu-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 80px 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform var(--time-transition) var(--timing-function);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-toggle {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--navy-blue-color);
  }
  .mobile-menu-open-icon {
    fill: currentColor;
    width: 53px;
    height: 43px;
  }
  .mobile-menu-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cornflower-color);
    color: var(--navy-blue-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: color var(--time-transition) var(--timing-function),
      background-color var(--time-transition) var(--timing-function);
  }
  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    background-color: var(--ocean-color);
    color: var(--white-color);
  }
}

/* ===== Navigation ===== */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.nav-link {
  color: currentColor;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
  transition: color var(--time-transition) var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}
.active-link {
  color: var(--ocean-color);
}

/* ===== Contacts ===== */
.menu-bottom {
  margin-top: 0;
}
.page-address {
  margin-bottom: 48px;
}
.contacts-list {
  list-style: none;
  font-style: normal;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 40px;
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  transition: color var(--time-transition) var(--timing-function);
}
.contacts-item:last-child .contacts-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.111;
  color: var(--iris-color);
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-item:last-child .contacts-link:hover,
.contacts-item:last-child .contacts-link:focus {
  color: var(--ocean-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-right: 60px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  transition: background-color var(--time-transition) var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}
.social-icon {
  fill: currentColor;
}
.mobile-menu-close {
  fill: currentColor;
}

/* ============= Main ============= */

/* ============= Hero ============= */
.hero {
  max-width: 428px;
  margin: 0 auto;
  padding: 112px 0;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile-hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-hero-bg@2x.jpg');
    background-size: cover;
  }
}
.hero-title {
  color: var(--white-color);
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  max-width: 319px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}
.hero-btn {
  display: block;
  margin: 0 auto;
  color: var(--white-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--iris-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time-transition) var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-color);
}

/* ===== Features ===== */
.features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.feature-icon-container {
  display: none;
}
.features-item-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* ===== About ===== */
.about {
  display: none;
}

/* ===== Team ===== */
.team {
  background-color: var(--cloud-color);
  padding-bottom: 128px;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.team-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  padding: 32px 14px;
  background-color: var(--white-color);
}
.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-card-text {
  color: var(--slate-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 8px 0;
}
/* ===== Social-Team ===== */
.team-card-content .social-list {
  list-style: none;
  display: flex;
  column-gap: 24px;
}
.social-link {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  transition: background-color var(--time-transition) var(--timing-function);
}

/* ===== Customers ===== */
.customers-title {
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  row-gap: 72px;
}
.customer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--light-slate-color);
  border: 1px solid var(--light-slate-color);
  border-radius: 4px;
  padding: 16px 38px;
  transition: color var(--time-transition) var(--timing-function),
    border-color var(--time-transition) var(--timing-function);
}
.customer-icon {
  fill: currentColor;
}
.customer-link:hover,
.customer-link:focus {
  color: var(--ocean-color);
  border-color: var(--ocean-color);
}
@media screen and (max-width: 427px) {
  .customers-list {
    column-gap: 10px;
    row-gap: 20px;
  }
}

/* ============= portfolio.html ============= */
/* ============= Main ============= */
.projects {
  padding-top: 48px;
  padding-bottom: 48px;
}
/* ===== Filter ===== */
.filter-list {
  max-width: 270px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  list-style: none;
}
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: var(--iris-color);
  background-color: var(--cloud-color);
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--time-transition) var(--timing-function),
    background-color var(--time-transition) var(--timing-function),
    border-color var(--time-transition) var(--timing-function),
    box-shadow var(--time-transition) var(--timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
  border-color: var(--ocean-color);
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.active-btn {
  border: 1px solid var(--ocean-color);
  color: var(--white-color);
  background-color: var(--ocean-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== Projects ===== */
.projects-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
}
.project-card {
  list-style: none;
}
.project-card-link {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--time-transition) var(--timing-function);
}
.project-card-link:hover,
.project-card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.project-cards-content {
  padding: 32px 0;
  padding-left: 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
  transition: border var(--time-transition) var(--timing-function);
}
.project-card-link:hover .project-cards-content,
.project-card-link:focus .project-cards-content {
  border: 0.5px solid var(--cloud-color);
  border-top: none;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.project-card-text {
  color: var(--slate-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}
.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px 0;
  transform: translateY(101%);
  transition: transform var(--time-transition) var(--timing-function);
}
.project-card-link:hover .project-card-overlay,
.project-card-link:focus .project-card-overlay {
  transform: translateY(0);
}

/* ============= Footer ============= */
.page-footer {
  background-color: var(--navy-blue-color);
  padding: 96px 0;
}
.page-footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
.page-footer .logo {
  display: block;
  color: var(--cloud-color);
  margin-bottom: 16px;
  text-align: center;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower-color);
  max-width: 264px;
}
.footer-social .social-list {
  column-gap: 16px;
}
.footer-social-text {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
.footer-social .social-link {
  background-color: var(--footer-social-icons-bg);
}
.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: var(--green-color);
}
/* ========= Footer-form ========= */
.footer-form-container {
  width: 100%;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}
.footer-label {
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-input {
  border: 1px solid var(--footer-input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 7px 16px;
  width: 100%;
  background-color: transparent;
  color: var(--white-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  outline: none;
  transition: border-color var(--time-transition) var(--timing-function);
}
.footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--footer-input-placeholder-color);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--iris-color);
}
.footer-form-btn {
  padding: 8px 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--iris-color);
  transition: background-color var(--time-transition) var(--timing-function);
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--ocean-color);
}
.btn-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
}
.subscribe-icon {
  margin-left: 16px;
  fill: currentColor;
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ================================================================ */

/* ============= Modal ============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-backdrop-color);
  opacity: 1;
  transition: opacity var(--time-transition) var(--timing-function);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  padding: 72px 16px 24px;
  width: calc(100% - 2 * 18px);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--modal-bg-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-transition) var(--timing-function),
    visibility var(--time-transition) var(--timing-function),
    opacity var(--time-transition) var(--timing-function);
}
.close-modal-btn {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  outline: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower-color);
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--time-transition) var(--timing-function),
    background-color var(--time-transition) var(--timing-function);
}
.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}
.close-modal-icon {
  fill: currentColor;
}

/* ============= Modal-form ============= */
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
  color: var(--navy-blue-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.modal-fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
}
.modal-input {
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  padding: 7px 38px;
  background-color: transparent;
  outline: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  color: var(--navy-blue-color);
  transition: border-color var(--time-transition) var(--timing-function);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--iris-color);
}
.modal-icon {
  position: absolute;
  left: 16px;
  bottom: 8px;
  fill: currentColor;
  transition: fill var(--time-transition) var(--timing-function);
}
.modal-fieldset:hover .modal-icon,
.modal-fieldset:focus-within .modal-icon {
  fill: var(--iris-color);
}
.modal-textarea {
  padding: 8px 16px;
  color: var(--navy-blue-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;
  min-height: 120px;
  transition: border-color var(--time-transition) var(--timing-function);
}
.modal-textarea::placeholder {
  color: var(--modal-input-placeholder-color);
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--iris-color);
}
.fieldset-policy {
  margin-top: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.policy-text {
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: var(--modal-policy-color);
}
.policy-link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  transition: color var(--time-transition) var(--timing-function);
}
.policy-link:hover,
.policy-link:focus {
  color: var(--ocean-color);
}
.modal-checkbox-icon {
  position: absolute;
  top: -2px;
  left: 0;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--navy-blue-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill var(--time-transition) var(--timing-function),
    border-color var(--time-transition) var(--timing-function),
    background-color var(--time-transition) var(--timing-function);
}
.checkbox-input:checked + .modal-checkbox-icon {
  background-color: var(--iris-color);
  border-color: var(--iris-color);
  fill: var(--white-color);
}
.checkbox-input:focus + .modal-checkbox-icon {
  border-color: var(--iris-color);
}
.modal-btn {
  cursor: pointer;
  margin: 16px auto 0;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white-color);
  background-color: var(--iris-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time-transition) var(--timing-function);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean-color);
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ========================Tablet============================== */
@media screen and (min-width: 768px) {
  /* ============= Header ============= */
  .container {
    max-width: 768px;
  }
  .menu-toggle {
    display: none;
  }
  .page-header {
    padding: 0;
  }
  .page-header .container {
    display: flex;
    padding: 24px 16px 10px;
  }
  .menu-container {
    display: flex;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 40px;
    margin-left: 120px;
    margin-right: 118px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
  }
  .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
    position: absolute;
    left: 0;
    bottom: -31px;
    transform: scaleX(0);
    transition: transform var(--time-transition) var(--timing-function);
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    transform: scaleX(1);
  }
  .active-link::after {
    transform: scaleX(1);
    content: '';
  }
  .menu-bottom {
    margin-top: 0;
  }
  .menu-bottom .social-list {
    display: none;
  }

  /* ===== Contacts ===== */
  .page-address {
    margin-bottom: 0;
  }
  .contacts-list {
    flex-direction: column;
    row-gap: 4px;
  }
  .contacts-link,
  .contacts-item:last-child .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: var(--slate-color);
  }

  /* ============= Main ============= */

  /* ============= Hero ============= */
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet-hero-bg.jpg');
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/tablet-hero-bg@2x.jpg');
      background-size: cover;
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  /* ===== Features ===== */
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
  }
  .features-item {
    flex-basis: calc(50% - 12px);
  }
  .features-item-title {
    text-align: left;
  }
  .features-item-text {
    font-weight: 500;
  }

  /* ===== Team ===== */
  .team {
    padding-bottom: 104px;
  }
  .team-cards {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  /* ===== Customers ===== */
  .customers-list {
    column-gap: 24px;
  }

  /* ============= portfolio.html ============= */
  /* ===== Filter ===== */
  .projects {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .filter-list {
    margin-bottom: 64px;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
  }

  /* ===== Projects ===== */
  .projects-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
  }
  .project-card {
    flex-basis: calc(50% - 12px);
  }

  /* ============= Footer ============= */
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 108px;
  }
  .page-footer .logo {
    text-align: left;
  }
  .footer-social-text {
    text-align: left;
  }
  .footer-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 24px;
  }
  .fieldset {
    width: 100%;
  }
  .footer-input {
    width: 264px;
  }

  /* ============= Modal ============= */
  .modal {
    width: 53.125%;
  }
}

/* ================================================================ */
/* ================================================================ */
/* ================================================================ */
/* ========================Desktop============================== */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .page-section {
    padding: 120px 0;
  }

  /* ============= Header ============= */
  .page-header .container {
    display: flex;
    padding: 24px 15px 28px;
  }
  .logo {
    line-height: 1.333;
  }
  .nav-list {
    margin-left: 0;
    margin-right: 0;
  }
  .menu-container {
    width: calc(100% - 115px);
    justify-content: space-between;
    margin-left: 76px;
  }
  .contacts-list {
    flex-direction: row;
    column-gap: 40px;
  }
  .contacts-link,
  .contacts-item:last-child .contacts-link {
    font-size: 16px;
  }

  /* ============= Main ============= */
  /* ============= Hero ============= */
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-bg.jpg');
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/hero-bg@2x.jpg');
      background-size: cover;
    }
  }
  /* ===== Features ===== */
  .features-item {
    flex-basis: calc(25% - 18px);
  }
  .feature-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud-color);
    border-radius: 4px;
    padding: 24px 100px;
  }
  .features-item-title {
    margin: 8px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-item-text {
    font-weight: 400;
    font-size: 16px;
  }

  .about {
    display: block;
    padding-top: 0;
  }
  .about-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
  }
  .about-list {
    list-style: none;
    display: flex;
    column-gap: 24px;
  }

  .customer-link {
    padding: 16px 31px;
  }

  .projects {
    padding-top: 96px;
  }
  .filter-list {
    margin-bottom: 72px;
  }
  .filter-btn {
    padding: 12px 24px;
  }
  .projects-cards {
    row-gap: 48px;
    justify-content: center;
  }
  .project-card {
    flex-basis: auto;
  }

  .page-footer {
    padding: 100px 0;
  }
  .page-footer .container {
    padding-left: 15px;
    justify-content: space-between;
    column-gap: 0;
  }
  .footer-social {
    margin-left: 115px;
    margin-right: 75px;
  }
  .footer-form-container {
    width: auto;
  }
  .footer-form {
    display: inline-block;
  }
  .fieldset {
    width: auto;
    display: block;
    margin-bottom: 16px;
  }
  .footer-input {
    display: inline-block;
  }
  .footer-form-btn {
    display: inline-flex;
    margin-left: 24px;
  }
  .modal {
    width: 408px;
  }
}
