:root {
  --iris-color: #4d5ae5;
  --ocean-color: #404bbf;
  --navy-blue-color: #2e2f42;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
  --navy-blue-backdrop-color: rgba(46, 47, 66, 0.4);
  --modal-bg-color: #fcfcfc;

  --white-color: #fff;
  --black-color: #000;
  --footer-social-icons-bg: rgba(255, 255, 255, 0.1);
  --time-transition: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --footer-input-placeholder-color: rgba(255, 255, 255, 0.6);

  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --modal-input-placeholder-color: rgba(117, 117, 117, 0.5);
  --modal-policy-color: #757575;

  --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1200px;
}

/* ============= Generals ============= */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--navy-blue-color);
}
body.modal-open {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding: 0 16px;
  margin: 0 auto;
}
.page-section {
  padding: 96px 0;
}

/* ============= Header ============= */
.page-header {
  border-bottom: 1px solid var(--cornflower-color);
  padding: 24px 0;
}

/* ===== Logo ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: currentColor;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--iris-color);
}

/* ===== Navigation ===== */
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.nav-link {
  color: currentColor;
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;
  letter-spacing: 0.02em;
  transition: color var(--time-transition) var(--timing-function);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--ocean-color);
}
.active-link {
  color: var(--ocean-color);
}

/* ===== Contacts ===== */
.menu-bottom {
  margin-top: 230px;
}
.page-address {
  margin-bottom: 48px;
}
.contacts-list {
  list-style: none;
  font-style: normal;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 40px;
}
.contacts-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate-color);
  transition: color var(--time-transition) var(--timing-function);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean-color);
}
.contacts-item:last-child .contacts-link {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.111;
  color: var(--iris-color);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;
  row-gap: 10px;
  list-style: none;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris-color);
  color: var(--cloud-color);
  transition: background-color var(--time-transition) var(--timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-color);
}
.social-icon {
  fill: currentColor;
}
/* ============= Mobile-menu ============= */
@media screen and (max-width: 767px) {
  .page-header .container {
    display: flex;
    align-items: center;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 80px 0 40px 40px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform var(--time-transition) var(--timing-function);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  .menu-toggle {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--navy-blue-color);
  }
  .mobile-menu-open-icon {
    fill: currentColor;
    width: 53px;
    height: 43px;
  }
  .mobile-menu-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cornflower-color);
    fill: var(--navy-blue-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--time-transition) var(--timing-function),
      background-color var(--time-transition) var(--timing-function);
  }
  .mobile-menu-close:hover,
  .mobile-menu-close:focus {
    background-color: var(--ocean-color);
    fill: var(--white-color);
  }
}

/* ============= Main ============= */

/* ============= Hero ============= */
.hero {
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.hero .container {
  min-height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.hero-title {
  color: var(--white-color);
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  max-width: 319px;
  text-align: center;
}
.hero-btn {
  color: var(--white-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  background-color: var(--iris-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time-transition) var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean-color);
}

/* ===== Features ===== */
.features-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.feature-icon-container {
  display: none;
}
.features-item-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
